<div class="table-responsive table-striped" id="carrito" style="margin-left: 300px;">
  <table class="table" id="lista-carrito">
    <thead>
      <tr>
        <th colspan="5">
          <h3>Detalle de productos</h3>
        </th>

      </tr>
      <tr>
        <th width="30%">Imagen</th>
        <th width="20%">Nombre</th>
        <th width="20%">Precio</th>
        <th width="20%">Cantidad</th>

        <th width="5%">Accion</th>

      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let item of cartItems">
        <td><img [src]="item.url" alt="Imagen del producto" width="100"></td>
        <td>{{ item.name}}</td>
        <td>{{ item.price}}</td>
        <td>{{ item.quantityclient }}</td>

        <button (click)="decrementQuantity(item)">-</button>
        <button (click)="incrementQuantity(item)">+</button>
        <td><button (click)="removeFromCart(item.id)">Eliminar</button></td>
      </tr>



    </tbody>

  </table>

  <button href="#" id="vaciar-carrito" class="btn btn-primary" (click)="clearCart()">Vaciar carrito</button>